[tool.black]
line-length = 88
target-version = ['py310']
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.venv
  | build
  | dist
)/
'''

[tool.coverage.run]
branch = true
source = ["."]
omit = ["tests/*"]

[tool.isort]
profile = "black"
